<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="cal">
        <div>a:</div><input type="text" v-model='a'>
        <div>b:</div><input type="text" v-model='b'>
        <button id="btn" v-on:click='addit'>点击</button>
        <div>res:</div>
        <div id="res">{{res}}</div>
    </div>
    <script src="../vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#cal',
            data: {
                a: '',
                b: '',
                res: ''
            },
            methods: {
                addit: function () {
                    this.res = parseInt(this.a) + parseInt(this.b);
                }
            },
        })
    </script>
</body>

</html>